{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
About me-Group me
{% endblock %}

{% block content %}
 <body>
    <p> <h3 align="center">  Добро пожаловать на персональный сайт учителя английского языка Школы № 37 г. Шахты, Ростовской области
       </body>

<h5 align="center"><img src="{% static 'images/4.JPG' %}" width="1010" height="600">
    <style>
        h5{
            text-indent: 20px;
        }
    </style>
    <body>
     <p> <h3 align="left">
        Я рада, что вы заглянули на мой сайт и искренне надеюсь, что вы сможете найти здесь полезную для себя информацию.

  <p> <h3 align="left"> Идея создания сайта возникла от желания поделиться своим опытом, своими методическими наработками, образцами
        учебно-методической документации, а также проектами и творческими работами учащихся.</h5></p>
 <p> <h3 align="left">Размещенная на сайте информация предназначена для учащихся и всех,
        кто изучает английский язык.</h5></p>

 <p> <h3 align="left">Буду благодарна за Ваши отзывы, предложения и комментарии, оставленные к статьям..</h5></p>

       </body>
    <p><h4 align="center">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </p>
       </body>


       </body>
    <p> <h2 align="center">Я и мой класс!</h5></p>
       </body>
<h5 align="center"><img src="{% static 'images/5.JPG' %}" width="1010" height="600">
    <h5 align="center"><img src="{% static 'images/6.JPG' %}" width="850" height="600">
    <h5 align="center"><img src="{% static 'images/7.JPG' %}" width="1010" height="600">
{% endblock %}








