{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ article.title }}

{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <pre>{{ article.text }}</pre>
     <a href="/media/{{ article.pdf_file }}">
    <button> Скачать файл:<strong>{{ article.pdf_file }}</strong></button>


            <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'nuclaer';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
