

{% extends 'base.html' %}
{% load staticfiles %}
<meta charset="utf-8">
{% block title %}
Im site
{% endblock %}

{% block content %}
    <body>
  <p> <h1 align="center"> Мой девиз:</h1> <h3 align="center"> Язык — лучший посредник для установления дружбы и согласия.<h5 align="right">  Эразм Роттердамский.</h5></p>
<p> <h4 align="left"> О себе:
<p> <h4 align="left">Образование: высшее
<p> <h4 align="left">В 2012 году окончила Южно-Российский Государственный Университет Экономики и Сервиса по специальности «Туризм»
в 2015 году окончила Таганрогский Государственный Педагогический Институт
<p> <h4 align="left">Педагогический стаж работы: 2 года
<p> <h4 align="left">Классы: 1-11
<p> <h4 align="left">Тема самообразования: «Повышение уровня восприятия младшими школьниками английского языка».
<p> <h4 align="left">Используемые формы самообразования:
<p> <h4 align="left">- изучение передового опыта педагогов  страны, города;
<p> <h4 align="left">-освоение новых учебных программ, учебников;
<p> <h4 align="left">- чтение научной, методической литературы.
<p> <h4 align="left">Личностные качества: ответственная, тактичная, коммуникабельная</h4></p>

      <p> <h1 align="center">Мои награды:</h1></p>
<h5 align="left"><img src="{% static 'images/8.JPG' %}" width="500" height="600"><img src="{% static 'images/15.JPG' %}" width="500" height="600">
    <h5 align="left"><img src="{% static 'images/11.JPG' %}" width="500" height="600"><img src="{% static 'images/10.JPG' %}" width="500" height="600">
        <h5 align="left"><img src="{% static 'images/12.JPG' %}" width="500" height="600"><img src="{% static 'images/13.JPG' %}" width="500" height="600">
            <h5 align="left"><img src="{% static 'images/14.JPG' %}" width="500" height="600"><img src="{% static 'images/9.JPG' %}" width="500" height="600">

     </body>

    <p>&copy; Dronova Oksana </p>


{% endblock %}
